.container-fraction {
  display: flex;
  align-items: center;
  .fraction {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ion-input{
    width: 30px;
    &:first-child {
      border-bottom: solid 1px black;
    }
  }
}
